<head>It's Five O'clock Somewhere!!</head>


<% if current_user %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
  <% else %>
  <%= link_to('Login', new_user_session_path)  %>  
  <% end %>
<div class="row">
  <% @drinkeries.each do |drinkery| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/drinkeries/<%= drinkery.id %>">
        <p><%= drinkery.name %></p>
        <p><%= drinkery.address_1 %></p>
        <p><%= drinkery.city %></p>
      </a>
    </div>
  </div>
  <% end %>
</div>
