<h1>Update a User!</h1>
 
 
<%= form_tag "/users/#{@user.id}", method: :patch do %>
 
   <div>
     <%= label_tag :first_name %>
     <%= text_field_tag :first_name %>
   </div>
   <div>
     <%= label_tag :last_name %>
     <%= text_field_tag :last_name %>
   </div>
   <div>
     <%= label_tag :email %>
     <%= text_field_tag :email%>
   </div>
   <%= submit_tag "Update user" %>
 
 <% end %> 