<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<h1 class="page-title animated bounceInDown">Drinker Profile</h1>

<p>First Name:  <%= @user.first_name %></p>
<p>Last Name:  <%= @user.last_name %></p>
<p>Email:  <%= @user.email %></p>
<div class="center">
<% if current_user && current_user.id != @user.id %>
          <% if !current_user.followees.where("followee_id = ?", @user.id)[0].nil? %>
            <%= form_tag "/follows/{@user.id}", method: :delete do %>
              <div><%= hidden_field_tag :user_id, @user.id %></div>
              <%= submit_tag "Unfollow this user" %>
            <% end %>

          <% else %>
            <%= form_tag "/follows", method: :post do %>
              <div><%= hidden_field_tag :user_id, @user.id %></div>
              <%= submit_tag "Follow this user" %>
            <% end %>
          <% end %>
<% end %>
</div>
