<head>Look at all these Happy Hours!!!</head>

<a href="/locations?sort=name">Sort by Name</a>
<a href="/locations/random">Random Items</a>

<%= form_tag "/search", method: :post do %>
<%= label_tag :user_search, "Search" %>
<%= text_field_tag :user_search %>
<%= submit_tag "Search" %>
    <% end %>

<ul>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, "/happy_hours?category=#{category.name}" %></li>
  <% end %>
</ul>



<div class="row">
  <% @happy_hours.each do |happy_hour| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/happy_hours/<%= happy_hour.id %>">
        <p><%= happy_hour.deal %></p>
      
      </a>
    </div>
  </div>
  <% end %>
</div>