<head>Look at all these Happy Hours!!!</head>

<%= form_tag "/search", method: :post do %>
<%= label_tag :user_search, "Search" %>
<%= text_field_tag :user_search %>
<%= submit_tag "Search" %>
    <% end %>
    
<a href="/locations?sort=city">Sort by City</a>
<a href="/locations?sort=name">Sort by Name</a>

<div class="row">
  <% @happy_hours.each do |happy_hour| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/happy_hours/<%= happy_hour.id %>">
        <p><%= happy_hour.deal %></p>
        <p><%= happy_hour.location.name %></p>
      
      </a>
    </div>
  </div>
  <% end %>
</div>






