<%= video_tag "pouring_red_wine.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>


<div class="form_over_video">
  <section>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if @happy_hour && @happy_hour.errors.any? %>
      <ul>
        <% @happy_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul> 
      <% end %>
      <h1 class="page-title2 animated bounceInDown">New Happy Hour Hype</h1>

      <%= form_tag '/happy_hours', method: :post do %>
        <div class="form-group">
          <%= label_tag :hype_title, nil, id: "black-color" %>
          <%= text_field_tag :hype_title, @happy_hour.hype_title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :location, nil, id: "black-color" %>
          <%= collection_select :location, :location_id, Location.all.order('name ASC'), :id, :name, class: "form-control" %>
        </div>    
        <div class="form-group">
          <%= label_tag :day_of_week, nil, id: "black-color" %>
          <%= collection_select :day_of_week, :day_of_week_id, DayOfWeek.all, :id, :day_of_week, class: "form-control" %>
        </div>           
        <div class="form-group">
          <%= label_tag :start_time, nil, id: "black-color" %>
          <%= collection_select :start_hour, :time_of_day_id, TimeOfDay.all, :id, :time, class: "form-control" %>
        </div>           
        <div class="form-group">
          <%= label_tag :end_time, nil, id: "black-color" %>
          <%= collection_select :end_hour, :time_of_day_id, TimeOfDay.all, :id, :time, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :hype_description, nil, id: "black-color" %>
          <%= text_field_tag :hype_description, @happy_hour.hype_description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= hidden_field_tag :user_id, current_user %>
        </div>
        <%= submit_tag "Hype your Happy Hour", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>
</div>
