  <!DOCTYPE html>
<html>
<head>
  <h1>Details of this Happy Hour Posting</h1>

<p>Post Title: <%= @happy_hour.created_at %></p>
<p>Post Title: <%= @happy_hour.hype_title %></p>
<p>Location: <%= @happy_hour.location.name %></p>
<p>Description: <%= @happy_hour.hype_description %></p>
<p>Day of the Week: <%= @happy_hour.day_of_week_id %></p>
<p>Start Drinking: <%= @happy_hour.start_hour%></p>
  <!DOCTYPE html>
<html>
<head>



</head>

<button ><a href="/happy_hours">See All Happy Hour Hypes</button>
<button ><a href="/happy_hours/new">Hype a New Happy Hour</button>


<body>
  <div id="googleMap" style="width:1100px;height:500px;"></div>
</body>

</html>



