    <section>
      <div class="row">
        <div class="col-sm-9">
          <div class="location_single">
            <% if @location && @location.errors.any? %>
              <ul>
                <% @location.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
            <h1>New Drinkery</h1>

            <%= form_tag '/locations', method: :post do %>

            <div>
              <%= label_tag :name %>
              <%= text_field_tag :name, @location.name %>
            </div>
            <div>
              <%= label_tag :address %>
              <%= text_field_tag :address, @location.vicinity %>
            </div>
            <div>

            <%= submit_tag "Add Location" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>