<%= video_tag "pouring_red_wine.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

    <section>
      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="location_single">
            <% if @location && @location.errors.any? %>
              <div>
                <% @location.errors.full_messages.each do |message| %>
                  <ul><%= message %></ul>
                <% end %>
              </div>
            <% end %>
            <h1 id="invert-color">New Drinkery</h1>

            <%= form_tag '/locations', method: :post do %>
              <div id="black-color" class="form-group">
                <%= label_tag :name, nil, id: "black-color" %>
                <%= text_field_tag :name, @location.name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag :address, nil, id: "black-color" %>
                <%= text_field_tag :address, @location.vicinity, class: "form-control" %>
              </div>

              <%= submit_tag "Add Location", class: "btn btn-default" %>
            <% end %>

            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>