  <h1>Details of this Drinking Establishment!!</h1>

  <p>Name: <%= @location.name %></p>
  <p>Address: <%= @location.address %></p>
  <p>City: <%= @location.city %></p>
  <% @location.images.each do |image| %>
    <img src="<%= image.image_url %>" class="img-responsive">
 <% end %>

  <h1>Add this place to your Happy Hour list!!</h1>
  <%= form_tag "/user_drinks", method: :post do %>
  <%= hidden_field_tag :location_id, @location.id %>
  <%= submit_tag "Add To HH List" %>
  <% end %>

  <%= link_to "Destroy", "/locations/#{@location.id}", method: :delete %>
  <%= link_to "Update", "/locations/#{@location.id}/edit", method: :get %>

