  <h1>Details of this Location</h1>

  <p>Name: <%= @location.name %></p>
  <p>Latitude: <%= @location.lat %></p>
  <p>Longitude: <%= @location.lng %></p>
  <p>
    <%= image_tag @location.image_url(:thumb).to_s %>
  </p>



  <h1>Add this place to your Happy Hour list!!</h1>
  <%= form_tag "/user_drinks", method: :post do %>
  <%= hidden_field_tag :location_id, @location.id %>
  <%= submit_tag "Add To HH List" %>
  <% end %>

  <%= link_to "Destroy", "/locations/#{@location.id}", method: :delete %>
  <%= link_to "Update", "/locations/#{@location.id}/edit", method: :get %>

<!-- Other available happy hours for this location -->

<!-- <div class="row">
  <%# @happy_hours.each do |happy_hour| %>
  <%#= if happy_hour.location_id == #add the location id from the current page %>      
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/happy_hours/<%#=# happy_hour.id %>">
        <p><%#= happy_hour.deal %></p>      
      </a>
    </div>
  </div>
  <#% #end %> -->
<!-- #<#/div> -->