  <!DOCTYPE html>
<html>
<head>

  <h1>Details of this Location</h1>

  <p>Name: <%= @location.name %></p>
  <p>Address: <%= @location.vicinity %></p>

  </div>
</head>

<button ><a href="/maps">See All Locations</a></button>
<button ><a href="/happy_hours/new">Hype this Location</a></button>


<body>
  <div id="googleMap" style="width:1200px;height:500px;padding:"></div>
</body>

</html>



  <div class="map">
  <script src="http://maps.googleapis.com/maps/api/js"></script>
<!--   <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['MY_GOOGLE_KEY']}&callback=initMap"
    async defer></script> -->
  <script>
  function initialize() {

        var mapProp = {
          center:new google.maps.LatLng(<%= @location.lat %>,<%= @location.lng %>),
          zoom:10,
          mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);


          var infowindow = new google.maps.InfoWindow({
              content: '<a href="/locations/<%= @location.name %>"><%= @location.name %></a>'
          });
          var marker = new google.maps.Marker({
            position: {lat: <%= @location.lat %>, lng: <%= @location.lng %>},
            map: map,
            infowindow: infowindow
          });
          google.maps.event.addListener(marker, 'click', function() {
            this.infowindow.open(map, this);
          });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>   