<!DOCTYPE html>
<html>
<head>

<!--<a class="navbar-brand" href="#"><i class="fa fa-beer" aria-hidden="true"></i></a>
-->  
<title>Happy Hour!</title>
<%= Gon::Base.render_data %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet'type='text/css'>

<!-- quote cycling -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="jquery.quovolver.js"></script> -->
<!--   <script type="text/javascript">
    $(document).ready(function() {
      $('.quotes').quovolver();
    });
  </script> -->
  <!-- ^^quote cycling     is .min the issue? -->

</head>

<body id="page-top" class="modern">
 <% flash.each do |name, message|%>
 <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
   <%= message.html_safe %>  
 </div><% end %>

 <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
         <li><a href="/"><i class="fa fa-beer" aria-hidden="true"></i> Home<span class="sr-only"></span></a></li>
         <li> <%= link_to "Happy Hours", "/happy_hours" %></li>  
         <li> <%= link_to "Locations", "/locations" %></li>  
       </ul>


       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
           <% if current_user %>
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, <%=current_user.first_name %>!
             <span class="caret"></span></a>
             <ul class="dropdown-menu">

               <div class="inverse-dropdown-color"></div>
               <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
               <li><a href="#">Your Locations</a></li>
               <li><a href="#">Your Happy Hour Hypes</a></li>
             </ul>
             <% else %>
             <li><%= link_to "Sign Up", "/users/sign_up" %></li>
             <li><%= link_to "Sign In", "/users/sign_in" %></li>
             <% end %>
           </li>

         </ul>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>

   <!-- scrolling images -->






   <div ng-app="app">
     <%= yield %>
   </div>

   <footer class="footer" style="background-image: url('assets/images/theme/bg-footer.jpg')">


    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 contact-details">
          <h4><i class="fa fa-ambulance"></i>  Need a Break from Drinking?<a href="http://www.recovery.org/topics/addiction-recovery-helplines/"></a></h4>
        </div>          
        <div class="col-md-6 contact-details">
          <h4><i class="fa fa-jpy" ></i><a href="mailto:jenordgaard@gmail.com" target="_top">  Contact the Developer</a></h4>
        </div>         
      </div>
      <div class="row copyright">
        <div class="col-lg-12">
          <p class="small">Created by Jens Nordgaard</p>
          
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
